In [0]:
from pyspark.sql import Row
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *


# Define the data
data = [
    (1, "Name_1", 34, 45820, "HR", "2018-03-15"),
    (2, "Name_2", 45, 78000, "IT", "2019-06-07"),
    (3, "Name_3", 29, 62000, "Sales", "2020-11-22"),
    (4, "Name_4", 38, 54000, "Finance", "2017-08-30"),
    (5, "Name_5", 41, 95000, "IT", "2015-02-10"),
    (6, "Name_6", 55, None , "HR", "2013-04-12"),
    (7, "Name_7", 26, 67000, "Sales", "2021-01-06"),
    (8, "Name_8", 50, 90000, "Finance", "2016-07-19"),
    (9, "Name_9", 60, None, "IT", "2014-10-11"),
    (10, "Name_10", 35, 49000, "HR", "2018-12-18"),
    (11, "Name_11", 28, 53000, "Finance", "2019-05-25"),
    (12, "Name_12", 40, 75000, "IT", "2017-03-03"),
    (13, "Name_13", 52, 89000, "Sales", "2013-09-14"),
    (14, "Name_14", 27, 66000, "HR", "2022-08-21"),
    (15, "Name_15", 33, 50000, "Finance", "2020-02-13"),
    (16, "Name_16", 44, 72000, "IT", "2014-06-25"),
    (17, "Name_17", 30, 80000, "Sales", "2021-07-30"),
    (18, "Name_18", 49, 93000, "HR", "2016-05-09"),
    (19, "Name_19", 36, 64000, "Finance", "2019-12-02"),
    (20, "Name_20", 31, 70000, "IT", "2020-09-13")
]

# Define the schema
columns = ["ID", "Name", "Age", "Salary", "Department", "JoinDate"]

# Create the dataframe
df = spark.createDataFrame(data, columns)

### `df.show()` Command in PySpark

The `df.show()` function is used to display the first few rows of a DataFrame in PySpark. It is commonly used to quickly inspect the content of a DataFrame.

#### Syntax:
 **`df.show(n=20, truncate=True)`**
## Parameters:

- **n** (optional, default=20):
  - Specifies the number of rows to display.
  - By default, it displays the first 20 rows of the DataFrame.
  - If you want to display a different number of rows, you can pass an integer to the `n` parameter.

- **truncate** (optional, default=True):
  - If set to `True` (default), it truncates long strings to a maximum of 20 characters for each column.
  - If set to `False`, it shows the full content of each string, no matter how long the text is.
  - This is particularly useful when you want to inspect data with very long text fields.

In [0]:
# Default - displays 20 rows and 
# 20 charactes from column value 
df.show()

+---+-------+---+------+----------+----------+
| ID|   Name|Age|Salary|Department|  JoinDate|
+---+-------+---+------+----------+----------+
|  1| Name_1| 34| 45820|        HR|2018-03-15|
|  2| Name_2| 45| 78000|        IT|2019-06-07|
|  3| Name_3| 29| 62000|     Sales|2020-11-22|
|  4| Name_4| 38| 54000|   Finance|2017-08-30|
|  5| Name_5| 41| 95000|        IT|2015-02-10|
|  6| Name_6| 55|120000|        HR|2013-04-12|
|  7| Name_7| 26| 67000|     Sales|2021-01-06|
|  8| Name_8| 50| 90000|   Finance|2016-07-19|
|  9| Name_9| 60|110000|        IT|2014-10-11|
| 10|Name_10| 35| 49000|        HR|2018-12-18|
| 11|Name_11| 28| 53000|   Finance|2019-05-25|
| 12|Name_12| 40| 75000|        IT|2017-03-03|
| 13|Name_13| 52| 89000|     Sales|2013-09-14|
| 14|Name_14| 27| 66000|        HR|2022-08-21|
| 15|Name_15| 33| 50000|   Finance|2020-02-13|
| 16|Name_16| 44| 72000|        IT|2014-06-25|
| 17|Name_17| 30| 80000|     Sales|2021-07-30|
| 18|Name_18| 49| 93000|        HR|2016-05-09|
| 19|Name_19| 36| 64000|   Finance|2019-12-02|
| 20|Name_20| 31| 70000|        IT|2020-09-13|
+---+-------+---+------+----------+----------+

In [0]:
#Display full column contents
df.show(truncate=False)

+---+-------+---+------+----------+----------+
|ID |Name   |Age|Salary|Department|JoinDate  |
+---+-------+---+------+----------+----------+
|1  |Name_1 |34 |45820 |HR        |2018-03-15|
|2  |Name_2 |45 |78000 |IT        |2019-06-07|
|3  |Name_3 |29 |62000 |Sales     |2020-11-22|
|4  |Name_4 |38 |54000 |Finance   |2017-08-30|
|5  |Name_5 |41 |95000 |IT        |2015-02-10|
|6  |Name_6 |55 |120000|HR        |2013-04-12|
|7  |Name_7 |26 |67000 |Sales     |2021-01-06|
|8  |Name_8 |50 |90000 |Finance   |2016-07-19|
|9  |Name_9 |60 |110000|IT        |2014-10-11|
|10 |Name_10|35 |49000 |HR        |2018-12-18|
|11 |Name_11|28 |53000 |Finance   |2019-05-25|
|12 |Name_12|40 |75000 |IT        |2017-03-03|
|13 |Name_13|52 |89000 |Sales     |2013-09-14|
|14 |Name_14|27 |66000 |HR        |2022-08-21|
|15 |Name_15|33 |50000 |Finance   |2020-02-13|
|16 |Name_16|44 |72000 |IT        |2014-06-25|
|17 |Name_17|30 |80000 |Sales     |2021-07-30|
|18 |Name_18|49 |93000 |HR        |2016-05-09|
|19 |Name_19|36 |64000 |Finance   |2019-12-02|
|20 |Name_20|31 |70000 |IT        |2020-09-13|
+---+-------+---+------+----------+----------+

In [0]:
# Display 2 rows and full column contents
df.show(2,truncate=False)

+---+------+---+------+----------+----------+
|ID |Name  |Age|Salary|Department|JoinDate  |
+---+------+---+------+----------+----------+
|1  |Name_1|34 |45820 |HR        |2018-03-15|
|2  |Name_2|45 |78000 |IT        |2019-06-07|
+---+------+---+------+----------+----------+
only showing top 2 rows

In [0]:
# Display 2 rows & column values 25 characters
df.show(2,truncate=25)

+---+------+---+------+----------+----------+
| ID|  Name|Age|Salary|Department|  JoinDate|
+---+------+---+------+----------+----------+
|  1|Name_1| 34| 45820|        HR|2018-03-15|
|  2|Name_2| 45| 78000|        IT|2019-06-07|
+---+------+---+------+----------+----------+
only showing top 2 rows

In [0]:
# Display DataFrame rows & columns vertically
df.show(n=3,truncate=25,vertical=True)

-RECORD 0----------------
 ID         | 1
 Name       | Name_1
 Age        | 34
 Salary     | 45820
 Department | HR
 JoinDate   | 2018-03-15
-RECORD 1----------------
 ID         | 2
 Name       | Name_2
 Age        | 45
 Salary     | 78000
 Department | IT
 JoinDate   | 2019-06-07
-RECORD 2----------------
 ID         | 3
 Name       | Name_3
 Age        | 29
 Salary     | 62000
 Department | Sales
 JoinDate   | 2020-11-22
only showing top 3 rows

In [0]:
# defining StructType and StructField 
schema=StructType([StructField("ID",IntegerType(),True),\
  StructField("Name",StringType(),True),\
  StructField("Age",IntegerType(),True),\
  StructField("Salary",IntegerType(),True),\
  StructField("Department",StringType(),True),\
  StructField("JoinDate",StringType(),True)])
df=spark.createDataFrame(data,schema)

In [0]:
#defining Col function
df1=df.select(col("Name"),col("Salary"),col("Department"))
df1.show(2)

+------+------+----------+
|  Name|Salary|Department|
+------+------+----------+
|Name_1| 45820|        HR|
|Name_2| 78000|        IT|
+------+------+----------+
only showing top 2 rows

In [0]:
#defining select function
df1=df.select(df.Name,col("Salary"),"Department")
df1.show(2)

+------+------+----------+
|  Name|Salary|Department|
+------+------+----------+
|Name_1| 45820|        HR|
|Name_2| 78000|        IT|
+------+------+----------+
only showing top 2 rows

In [0]:
#defining collect function
df1=df.select("Name",col("Salary"),df.Department)
#normal collect which will collect all the rows
df1=df1.collect()
for i in df1:
  print(i['Name'])
# if we have to collect the any specific row using collect 
df1=df1.collect()[3]
# if we have to collect the any specific value from a specific row and specific column using collect 
df1=df1.collect()[3][0]
print(df1)

Name_1
Name_2
Name_3
Name_4
Name_5
Name_6
Name_7
Name_8
Name_9
Name_10
Name_11
Name_12
Name_13
Name_14
Name_15
Name_16
Name_17
Name_18
Name_19
Name_20

In [0]:
#defining withColumn function
# adding new column
df1=df.withColumn("New_column",lit("added_row"))
#changing the data type of existing column
df1=df.withColumn("JoinDate",col("JoinDate").cast(DateType()))
#deriving a new column from existing column
df1=df.withColumn("New_column",(df.Salary/3).cast(DecimalType()))
df1.show(2)

+---+------+---+------+----------+----------+----------+
| ID|  Name|Age|Salary|Department|  JoinDate|New_column|
+---+------+---+------+----------+----------+----------+
|  1|Name_1| 34| 45820|        HR|2018-03-15|     15273|
|  2|Name_2| 45| 78000|        IT|2019-06-07|     26000|
+---+------+---+------+----------+----------+----------+
only showing top 2 rows

In [0]:
#defining drop function
df1=df.drop(col("JoinDate"),"ID",df.Age)
df1.show(2)

+------+------+----------+
|  Name|Salary|Department|
+------+------+----------+
|Name_1| 45820|        HR|
|Name_2| 78000|        IT|
+------+------+----------+
only showing top 2 rows

In [0]:
#defining withcolumnRename function
df1=df.withColumnRenamed("Salary","Salary_1")
df1.show(2)

+---+------+---+--------+----------+----------+
| ID|  Name|Age|Salary_1|Department|  JoinDate|
+---+------+---+--------+----------+----------+
|  1|Name_1| 34|   45820|        HR|2018-03-15|
|  2|Name_2| 45|   78000|        IT|2019-06-07|
+---+------+---+--------+----------+----------+
only showing top 2 rows

In [0]:
#defining Filter function
df1=df.filter(df.Salary>=40000)
df1.show(2)

+---+------+---+------+----------+----------+
| ID|  Name|Age|Salary|Department|  JoinDate|
+---+------+---+------+----------+----------+
|  1|Name_1| 34| 45820|        HR|2018-03-15|
|  2|Name_2| 45| 78000|        IT|2019-06-07|
+---+------+---+------+----------+----------+
only showing top 2 rows

In [0]:
#defining Where function
#pyspark way of defining
df1=df.where(df.Salary>=40000)
#sql way for defining 
df1=df.where("salary>=40000")
# filter with multiple condition 
df1=df.filter(((df.Name!="abc")&(df.Name!="abc"))|((df.Name!="abc")&(df.Name!="abc")))
df1.show(2)

+---+------+---+------+----------+----------+
| ID|  Name|Age|Salary|Department|  JoinDate|
+---+------+---+------+----------+----------+
|  1|Name_1| 34| 45820|        HR|2018-03-15|
|  2|Name_2| 45| 78000|        IT|2019-06-07|
+---+------+---+------+----------+----------+
only showing top 2 rows

In [0]:
# filter condition with isnull function
df1=df.filter(col("Name").isNull())
# filter condition with isnotnull function
df1=df.filter(col("Name").isNotNull())
# filter condition with startwith function
df1=df.filter(col("Name").startswith("James"))
# filter condition with doesnot startwith function
df1=df.filter(~col("Name").startswith("abc"))
# filter condition with endwith function
df1=df.filter(df.Name.endswith("abc"))
# filter condition with doesnot endswith function
df1=df.filter(~df.Name.endswith("abc"))
# filter condition with contains
df1=df.filter(col("Name").contains("ame")) # it is  case sensitive so have to give proper a vlue like "ame" to validate 
# filter condition with like 
df1 = df.filter(df.Name.like("%ame%"))# it is also case sensitive as contains
# filter condition with rlike 
df1=df.filter(df.Name.rlike("ame"))
# filter condition with in 
df1=df.filter(df.Age.isin(34)) 
# filter condition with in whihc has multiple values
l1=[34,45] 
df1=df.filter(df.Age.isin(l1))
# filter condition with not in 
df1=df.filter(~df.Age.isin(34)) 
df1.show(2)

+---+------+---+------+----------+----------+
| ID|  Name|Age|Salary|Department|  JoinDate|
+---+------+---+------+----------+----------+
|  2|Name_2| 45| 78000|        IT|2019-06-07|
|  3|Name_3| 29| 62000|     Sales|2020-11-22|
+---+------+---+------+----------+----------+
only showing top 2 rows

In [0]:
#defining distinct function
df1=df.distinct()
df1.show(2)

+---+------+---+------+----------+----------+
| ID|  Name|Age|Salary|Department|  JoinDate|
+---+------+---+------+----------+----------+
|  2|Name_2| 45| 78000|        IT|2019-06-07|
|  1|Name_1| 34| 45820|        HR|2018-03-15|
+---+------+---+------+----------+----------+
only showing top 2 rows

In [0]:
#defining dropDuplicates function
df1 = df.dropDuplicates(["Name","Salary"]) # drop duplicates helps in getting distinct values based on specific columns
df1.show(2)

+---+-------+---+------+----------+----------+
| ID|   Name|Age|Salary|Department|  JoinDate|
+---+-------+---+------+----------+----------+
|  1| Name_1| 34| 45820|        HR|2018-03-15|
| 10|Name_10| 35| 49000|        HR|2018-12-18|
+---+-------+---+------+----------+----------+
only showing top 2 rows

In [0]:
#defining sort function
df1=df.sort("Age",desc(col("Name")))
df1=df.sort(col("Age").asc(),col("Name").desc())
df1.show(5)

+---+-------+---+------+----------+----------+
| ID|   Name|Age|Salary|Department|  JoinDate|
+---+-------+---+------+----------+----------+
|  7| Name_7| 26| 67000|     Sales|2021-01-06|
| 14|Name_14| 27| 66000|        HR|2022-08-21|
| 11|Name_11| 28| 53000|   Finance|2019-05-25|
|  3| Name_3| 29| 62000|     Sales|2020-11-22|
| 17|Name_17| 30| 80000|     Sales|2021-07-30|
+---+-------+---+------+----------+----------+
only showing top 5 rows

In [0]:
#defining orderBy function
df1=df.orderBy("Age",desc(col("Name")))
df1.show(5)

+---+-------+---+------+----------+----------+
| ID|   Name|Age|Salary|Department|  JoinDate|
+---+-------+---+------+----------+----------+
|  7| Name_7| 26| 67000|     Sales|2021-01-06|
| 14|Name_14| 27| 66000|        HR|2022-08-21|
| 11|Name_11| 28| 53000|   Finance|2019-05-25|
|  3| Name_3| 29| 62000|     Sales|2020-11-22|
| 17|Name_17| 30| 80000|     Sales|2021-07-30|
+---+-------+---+------+----------+----------+
only showing top 5 rows

In [0]:
#defining groupby function
df1=df.groupBy(col("Age")).agg(sum("Salary").alias("sum value"))
#multiple columns aggrigartion with same grouping data 
df1=df.groupBy(col("Age")).agg(sum(col("Salary")).alias("sum"),avg(col("Salary")).alias("avg"))
df1.show(2)

In [0]:
data = [
    Row(ID=1, Department="HR", Total_Salary=370000, Average_Salary=61666.7),
    Row(ID=2, Department="ITI", Total_Salary=564000, Average_Salary=70500.0),
    Row(ID=3, Department="Sales", Total_Salary=335000, Average_Salary=67000.0),
    Row(ID=4, Department="Finance", Total_Salary=365000, Average_Salary=61000.0),
    Row(ID=5, Department="Support", Total_Salary=35000, Average_Salary=71600.0)
]

# Create DataFrame from the list of rows
s_df = spark.createDataFrame(data)

In [0]:
#defining Join function
df1=df
df2=s_df
join_df=df1.join(df2,df1.Department==df2.Department,"inner")
# want to print only specifi columns from tables 
join_df=df1.join(df2,df1.Department==df2.Department,"inner").select(df1.Name,df1.Age,df2.Department,df2.Average_Salary)
#left Join
join_df=df1.join(df2,df1.Department==df2.Department,"left")
#right Join
join_df=df1.join(df2,df1.Department==df2.Department,"right")
#outer join
join_df=df1.join(df2,df1.Department==df2.Department,"outer")
#left semi join
join_df=df1.join(df2,df1.Department==df2.Department,"leftSemi") #gives left side match and non null values
#left anti
join_df=df1.join(df2,df1.Department==df2.Department,"leftanti")#gives left side not match and non null values
join_df.show()

+---+-------+---+------+----------+----------+
| ID|   Name|Age|Salary|Department|  JoinDate|
+---+-------+---+------+----------+----------+
|  2| Name_2| 45| 78000|        IT|2019-06-07|
|  5| Name_5| 41| 95000|        IT|2015-02-10|
|  9| Name_9| 60|110000|        IT|2014-10-11|
| 12|Name_12| 40| 75000|        IT|2017-03-03|
| 16|Name_16| 44| 72000|        IT|2014-06-25|
| 20|Name_20| 31| 70000|        IT|2020-09-13|
+---+-------+---+------+----------+----------+

In [0]:
data = [
    (1, "Name_1", 34, 45820, "HR", "2018-03-15"),
    (2, "Name_2", 45, 78000, "IT", "2019-06-07"),
    (3, "Name_3", 29, 62000, "Sales", "2020-11-22")
]

# Define the schema
columns = ["ID", "Name", "Age", "Salary", "Department", "JoinDate"]

# Create the dataframe
u_df = spark.createDataFrame(data, columns)

In [0]:
#defining Union function
union_df=df.union(u_df).distinct() # union and union all works same in pyspark so both can have duplicates so we have to use distinct to handle the duplicates
union_df.show(25)

+---+-------+---+------+----------+----------+
| ID|   Name|Age|Salary|Department|  JoinDate|
+---+-------+---+------+----------+----------+
|  2| Name_2| 45| 78000|        IT|2019-06-07|
|  1| Name_1| 34| 45820|        HR|2018-03-15|
|  4| Name_4| 38| 54000|   Finance|2017-08-30|
|  3| Name_3| 29| 62000|     Sales|2020-11-22|
|  6| Name_6| 55|120000|        HR|2013-04-12|
|  5| Name_5| 41| 95000|        IT|2015-02-10|
|  7| Name_7| 26| 67000|     Sales|2021-01-06|
|  9| Name_9| 60|110000|        IT|2014-10-11|
| 10|Name_10| 35| 49000|        HR|2018-12-18|
|  8| Name_8| 50| 90000|   Finance|2016-07-19|
| 12|Name_12| 40| 75000|        IT|2017-03-03|
| 11|Name_11| 28| 53000|   Finance|2019-05-25|
| 14|Name_14| 27| 66000|        HR|2022-08-21|
| 13|Name_13| 52| 89000|     Sales|2013-09-14|
| 15|Name_15| 33| 50000|   Finance|2020-02-13|
| 16|Name_16| 44| 72000|        IT|2014-06-25|
| 19|Name_19| 36| 64000|   Finance|2019-12-02|
| 18|Name_18| 49| 93000|        HR|2016-05-09|
| 20|Name_20| 31| 70000|        IT|2020-09-13|
| 17|Name_17| 30| 80000|     Sales|2021-07-30|
+---+-------+---+------+----------+----------+

In [0]:
#defining Unionall function
union_df=df.unionAll(u_df)
union_df.show(25)

+---+-------+---+------+----------+----------+
| ID|   Name|Age|Salary|Department|  JoinDate|
+---+-------+---+------+----------+----------+
|  1| Name_1| 34| 45820|        HR|2018-03-15|
|  2| Name_2| 45| 78000|        IT|2019-06-07|
|  3| Name_3| 29| 62000|     Sales|2020-11-22|
|  4| Name_4| 38| 54000|   Finance|2017-08-30|
|  5| Name_5| 41| 95000|        IT|2015-02-10|
|  6| Name_6| 55|120000|        HR|2013-04-12|
|  7| Name_7| 26| 67000|     Sales|2021-01-06|
|  8| Name_8| 50| 90000|   Finance|2016-07-19|
|  9| Name_9| 60|110000|        IT|2014-10-11|
| 10|Name_10| 35| 49000|        HR|2018-12-18|
| 11|Name_11| 28| 53000|   Finance|2019-05-25|
| 12|Name_12| 40| 75000|        IT|2017-03-03|
| 13|Name_13| 52| 89000|     Sales|2013-09-14|
| 14|Name_14| 27| 66000|        HR|2022-08-21|
| 15|Name_15| 33| 50000|   Finance|2020-02-13|
| 16|Name_16| 44| 72000|        IT|2014-06-25|
| 17|Name_17| 30| 80000|     Sales|2021-07-30|
| 18|Name_18| 49| 93000|        HR|2016-05-09|
| 19|Name_19| 36| 64000|   Finance|2019-12-02|
| 20|Name_20| 31| 70000|        IT|2020-09-13|
|  1| Name_1| 34| 45820|        HR|2018-03-15|
|  2| Name_2| 45| 78000|        IT|2019-06-07|
|  3| Name_3| 29| 62000|     Sales|2020-11-22|
+---+-------+---+------+----------+----------+

In [0]:
#defining unionByName function
u2_df=u_df.select( "Name", "ID", "Age", "Salary", "Department", "JoinDate")
union_df=df.union(u2_df) # if both have same columns but the declarion is different then we can use it without parameter
union_df=df.unionByName(s_df,True)# if both have differnt parameters then we can use the aprameter as true to make the union sof the missing colums values will be null for both
union_df.show(25)

+---+-------+----+------+----------+----------+------------+--------------+
| ID|   Name| Age|Salary|Department|  JoinDate|Total_Salary|Average_Salary|
+---+-------+----+------+----------+----------+------------+--------------+
|  1| Name_1|  34| 45820|        HR|2018-03-15|        null|          null|
|  2| Name_2|  45| 78000|        IT|2019-06-07|        null|          null|
|  3| Name_3|  29| 62000|     Sales|2020-11-22|        null|          null|
|  4| Name_4|  38| 54000|   Finance|2017-08-30|        null|          null|
|  5| Name_5|  41| 95000|        IT|2015-02-10|        null|          null|
|  6| Name_6|  55|120000|        HR|2013-04-12|        null|          null|
|  7| Name_7|  26| 67000|     Sales|2021-01-06|        null|          null|
|  8| Name_8|  50| 90000|   Finance|2016-07-19|        null|          null|
|  9| Name_9|  60|110000|        IT|2014-10-11|        null|          null|
| 10|Name_10|  35| 49000|        HR|2018-12-18|        null|          null|
| 11|Name_11|  28| 53000|   Finance|2019-05-25|        null|          null|
| 12|Name_12|  40| 75000|        IT|2017-03-03|        null|          null|
| 13|Name_13|  52| 89000|     Sales|2013-09-14|        null|          null|
| 14|Name_14|  27| 66000|        HR|2022-08-21|        null|          null|
| 15|Name_15|  33| 50000|   Finance|2020-02-13|        null|          null|
| 16|Name_16|  44| 72000|        IT|2014-06-25|        null|          null|
| 17|Name_17|  30| 80000|     Sales|2021-07-30|        null|          null|
| 18|Name_18|  49| 93000|        HR|2016-05-09|        null|          null|
| 19|Name_19|  36| 64000|   Finance|2019-12-02|        null|          null|
| 20|Name_20|  31| 70000|        IT|2020-09-13|        null|          null|
|  1|   null|null|  null|        HR|      null|      370000|       61666.7|
|  2|   null|null|  null|       ITI|      null|      564000|       70500.0|
|  3|   null|null|  null|     Sales|      null|      335000|       67000.0|
|  4|   null|null|  null|   Finance|      null|      365000|       61000.0|
|  5|   null|null|  null|   Support|      null|       35000|       71600.0|
+---+-------+----+------+----------+----------+------------+--------------+

In [0]:
#defining fill or nafill function
df1=df.na.fill(0,"Salary")
df1.show()

+---+-------+---+------+----------+----------+
| ID|   Name|Age|Salary|Department|  JoinDate|
+---+-------+---+------+----------+----------+
|  1| Name_1| 34| 45820|        HR|2018-03-15|
|  2| Name_2| 45| 78000|        IT|2019-06-07|
|  3| Name_3| 29| 62000|     Sales|2020-11-22|
|  4| Name_4| 38| 54000|   Finance|2017-08-30|
|  5| Name_5| 41| 95000|        IT|2015-02-10|
|  6| Name_6| 55|     0|        HR|2013-04-12|
|  7| Name_7| 26| 67000|     Sales|2021-01-06|
|  8| Name_8| 50| 90000|   Finance|2016-07-19|
|  9| Name_9| 60|     0|        IT|2014-10-11|
| 10|Name_10| 35| 49000|        HR|2018-12-18|
| 11|Name_11| 28| 53000|   Finance|2019-05-25|
| 12|Name_12| 40| 75000|        IT|2017-03-03|
| 13|Name_13| 52| 89000|     Sales|2013-09-14|
| 14|Name_14| 27| 66000|        HR|2022-08-21|
| 15|Name_15| 33| 50000|   Finance|2020-02-13|
| 16|Name_16| 44| 72000|        IT|2014-06-25|
| 17|Name_17| 30| 80000|     Sales|2021-07-30|
| 18|Name_18| 49| 93000|        HR|2016-05-09|
| 19|Name_19| 36| 64000|   Finance|2019-12-02|
| 20|Name_20| 31| 70000|        IT|2020-09-13|
+---+-------+---+------+----------+----------+

In [0]:
#defining fill or repartition function
df1=df.repartition("Department")
num_partitions = df1.rdd.getNumPartitions()
print(f"Number of partitions: {num_partitions}")
#partition by can be applied to write command to partition the data in folder

Number of partitions: 1